<div class="login-container">

  <div class="login-card">

    <h1>EcoRota</h1>

    <p class="subtitle">
      Destine seus resíduos de forma correta.
    </p>

    <form>

      <div class="field">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          placeholder="Digite seu e-mail"
        >
      </div>

      <div class="field">
        <label for="password">Senha</label>
        <input
          id="password"
          type="password"
          placeholder="Digite sua senha"
        >
      </div>

      <button type="submit">
        Entrar
      </button>

    </form>

    <p class="register-text">
      Ainda não possui uma conta?
      <a routerLink="/cadastro">Criar conta</a>
    </p>

  </div>

</div>
