<div class="cadastro-container">

  <div class="cadastro-card">

    <h1>Criar conta</h1>

    <p class="subtitle">
      Cadastre-se no EcoRota
    </p>

    <form>

      <div class="field">
        <label for="name">Nome</label>
        <input
          id="name"
          type="text"
          placeholder="Digite seu nome"
        >
      </div>

      <div class="field">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          placeholder="Digite seu e-mail"
        >
      </div>

      <div class="field">
        <label for="password">Senha</label>
        <input
          id="password"
          type="password"
          placeholder="Digite sua senha"
        >
      </div>

      <button type="submit">
        Criar conta
      </button>

    </form>

    <p class="login-text">
      Já possui uma conta?
      <a routerLink="/login">Voltar para login</a>
    </p>

  </div>

</div>
